<% if (alert.alertMessage !="" ) { %>
  <div class="alert alert-<%= alert.alertStatus %> alert-dismissible fade show" role="alert">
    <strong>
      <%= alert.alertMessage %>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>