<!-- table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Booking</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Member</th>
            <th>Date</th>
            <th>Account Holder</th>
            <th>Price</th>
            <th>Total</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <th>#</th>
          <th>Item</th>
          <th>Member</th>
          <th>Date</th>
          <th>Account Holder</th>
          <th>Price</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>1</td>
            <td>House</td>
            <td><button class="btn btn-sm btn-info">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>