<% include ../../partials/header %>

  <% include ../../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ../../partials/navbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <h1 class="h3 text-gray-800">Add Form Featured</h1>
              </div>
              <div class="col-md-6">
                <ol class="breadcrumb bg-transparent d-flex justify-content-md-end">
                  <li class="breadcrumb-item "><a href="/" class="text-decoration-none">Home</a></li>
                  <li class="breadcrumb-item"><a href="/featured" class="text-decoration-none">Featured</a></li>
                  <li class="breadcrumb-item active">Add Featured</li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 card shadow-lg">
                <% if (typeof errors!='undefined' ) { %>
                  <div class="alert alert-danger mb-0 mt-2" role="alert">
                    <% errors.forEach(error=> { %>
                      <p class="m-0 text-black font-weight-bolder">
                        <%= error.msg %> !
                      </p>
                      <% }) %>
                  </div>
                  <% } %>
                    <form action="/featured" method="post" enctype="multipart/form-data" class="p-5">
                      <div class="form-group">
                        <label class="text-dark font-weight-bold" for="name">Name Featured</label>
                        <input type="text" class="form-control" id="name" placeholder="Please Input Name Featured"
                          name="name">
                      </div>
                      <div class="form-group">
                        <img src="" id="imgPreview" width="200px" class="d-block">
                        <label class="text-dark font-weight-bold" for="imgInput">Image Featured</label>
                        <input type="file" class="form-control" id="imgInput" placeholder="Please Input Image Featured"
                          name="image">
                      </div>
                      <button type="submit" class="btn btn-primary w-100">Save</button>
                    </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ../../partials/footer %>

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <% include ../../partials/end %>